* {
  font-size: 14px;
  border-radius: 0; }

window#waybar {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: FontAwesome, monospace;
  background-color: #4C5945;
  color: #F5F5F5;
  transition-property: background-color;
  transition-duration: .5s;
  border-top: 2px solid #808080;
  border-left: 2px solid #808080;
  border-bottom: 2px solid #232D19;
  border-right: 2px solid #232D19; }

window#waybar.hidden {
  opacity: 0.2; }

window#waybar.empty #window {
  background-color: #4C5945; }

/*
window#waybar.empty {
  background-color: transparent;
}
window#waybar.solo {
  background-color: #FFFFFF;
}
*/
.modules-right {
  background: #3F4638;
  margin: 5px 10px 5px 0; }

.modules-center {
  background: #4C5945;
  margin: 5px 0 5px 0; }

.modules-left {
  background: #3F4638;
  margin: 5px 0 5px 10px; }

button {
  /* Use box-shadow instead of border so the text isn't offset */
  /* box-shadow: inset 0 -3px transparent; */
  border: none; }

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
/*
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px $foreground;
} */
#workspaces {
  background: #4C5945; }

#workspaces button {
  padding: 0 5px;
  font-family: "Taxon Bold", sans-serif;
  background: #4C5945;
  color: #F5F5F5;
  border-top: 2px solid #808080;
  border-left: 2px solid #808080;
  border-bottom: 2px solid #232D19;
  border-right: 2px solid #232D19;
  border-radius: 0;
  margin-right: 5px;
  transition: all 0s ease; }

#workspaces button:last-child {
  margin-right: 0; }

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: #C4B550;
  background: #4C5945; }

#workspaces button.active {
  background: #4C5844;
  color: #C4B550;
  border-top: 2px solid #232D19;
  border-left: 2px solid #232D19;
  border-bottom: 2px solid #808080;
  border-right: 2px solid #808080; }

#workspaces button.urgent {
  background: #232D19; }

#cpu {
  padding: 0 10px;
  color: #C4B550;
  border-top: 2px solid #232D19;
  border-left: 2px solid #232D19;
  border-bottom: 2px solid #808080;
  border-right: 2px solid #808080; }

#idle_inhibitor,
#cava,
#scratchpad,
#mode,
#window,
#memory,
#clock,
#battery,
#backlight,
#wireplumber,
#pulseaudio,
#tray,
#mpris,
#load {
  padding: 0 10px;
  background-color: #3F4638;
  color: #F5F5F5;
  border-top: 2px solid #232D19;
  border-left: 2px solid #232D19;
  border-bottom: 2px solid #808080;
  border-right: 2px solid #808080; }
